<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <title>Home</title>
</head>
<body>
  <!-- header -->     
  <header>
    <a href="#">GHUMO</a>
    <div class="navlink">
      <a href="#">About Us</a>
      <a href="#">Rent Now</a>
      <a href="#">How it works</a>
    </div>
    <div class="signlink">
      <a href="#">dashboard</a>
      <a href="#" id="register">LogOut</a>
    </div>
  </header>

  <section>
    <i class='bx bxs-user'></i>
    <p>Hello User</p>
    <div class="contents">
      <div>
        <label>Name : </label>
        <input type="text" value="User" readonly>
      </div>
      <div>
        <label>Email_ID : </label>
        <input type="email" value="user@gmail.com" readonly>
      </div>
      <div>
        <label>License : </label>
        <input type="text" value="12345" readonly>
      </div>
      <div>
        <label>Adhar Card : </label>
        <input type="text" value="111111111" readonly>
      </div>
      <div>
        <label>Phone No : </label>
        <input type="text" value="1010101001" readonly>
      </div>
    </div>
    <div class="btn">
      <input type="submit" value="edit">
      <input type="submit" value="save">
    </div>
  </section>

  <hr>

  <!-- footer -->
  <footer>
    <p>@2024 <span>Ghumo</span>, All Rights Reserved</p>
    <div class="social">
      <p>Customer Care: 999-999-999</p>
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-facebook-square' ></i></a>
      <a href="#"><i class='bx bxl-twitter' ></i></a>
    </div>
  </footer>
</body>
</html>