* {
  margin: 0;
  font-family: "Poppins",sans-serif;
}

:root{
  --main-color: #147487;
  --second-color: #A9D5DD;
  --third-color: #C9E8FF;
  --text-color: #444;
  --gradient: linear-gradient(#147487,#A9D5DD);
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 5rem;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color:  #eeeff1;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 0px;
}

header > a{
  padding-left: 40px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 2.5rem;
}

.navlink a{
  position: relative;
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.signlink a{
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
}

.signlink #register{
  padding: 10px 20px;
  border: 2px;
  background: var(--main-color);
  color: #fff;
  border-radius: 25px;
}

.content{
  height: auto;
  width: 70%;
  position: relative;
  top: -200px;
  left: 50%;
  margin-bottom: 150px;
  transform: translate(-50%,25%);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

.content .box{
  background-color: #fff;
  width: 80%;
  padding: 10px;
  border-radius: 1.4rem;
  box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
}

.content .box .box-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.4rem;
}

.content .box .box-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content .info{
  border-radius: 25px;
  padding: 20px;
  margin: 50px;
  width: 80%;
  background-color: var(--second-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.header{
  font-size: 1.5rem;
  font-weight: 700;
}

.txt{
  font-size: 1.2rem;
}

.pay{
  background-color: var(--second-color);
  border-radius: 25px;
  width: 80%;
  padding: 20px;
}

.title{
  font-size: 1.5rem;
  font-weight: 400;
}

.subheader{
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.special{
  font-size: 2rem;
  padding-bottom: 30px;
  color: rgb(78, 4, 78);
}

.bill{
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 25px;
  font-size: larger;
  color: #fff;
  font-weight: 300;
}

.bill:hover{
  color: var(--text-color);
  background-color: var(--third-color);
  cursor: pointer;
}

hr {
  height: 3px;
  background-color: var(--main-color);
  border: none;
}

footer{
  background-color: #eeeff1;
  padding: 30px 20px 10px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social{
  align-items: center;
  display: flex;
}

footer .social p{
  padding-right: 25px;
}

footer .social a{
  padding-left: 5px;
  text-decoration: none;
  color: var(--text-color);
  font-size: xx-large;
}

footer .social a i:hover{
  color: var(--main-color);
}